
<!DOCTYPE html>
<html>
<body>
<script src="http://code.jquery.com/jquery.min.js"></script>
<div class="header">
  <h1>LoL Game Predictor</h1>
</div>
<label for="fname">Match-ID:</label>
<input type="text" id="id" name="id"><br>
<button onclick="myFunction()">Click me</button><br>
<a HREF="/index_matchid">Link</a><br>
<script>
function myFunction() {
  data = document.getElementById("id").value
  console.log(data)
  $.post( "/postmethod", {
      javascript_data: data 
  });
}
</script>
</body>
</html>